# Server configuration
PORT=5000
NODE_ENV=production
LOG_LEVEL=info

# Application secrets
JWT_SECRET=
ARCJET_KEY=ajkey_01kqvvfpbvennrytyp05qa17nr

# Neon Cloud serverless Postgres. Do not use Neon Local in production.
DATABASE_URL=postgres://USER:PASSWORD@HOST.neon.tech/DBNAME?sslmode=require
NEON_LOCAL=false
